<div class="col-6 offset-3 text-center game-list-container">
  <div class="row text-center">
    <% if user_signed_in? %>
      <% if @games.available.present? %>
        <div class="col-12 col-sm">
          <ul class="game-list-group list-group">
            <h3 class="dark-content-box-header">Available Games</h3>
            <% @games.available.each do |game| %>
              <li class="game-list-item list-group-item">
                <h3><%= game.name %></h3> &nbsp &nbsp &nbsp 
                <%= link_to "Join", game_update_invited_user_path(game), remote: true,
                    method: :get, data: {confirm: 'Are you sure you want to join?'},
                    class: 'btn black-gold-btn right-align-btn' %>
              </li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <div class="col-12 col-sm">
          <ul class="game-list-group list-group">
            <h3 class="dark-content-box-header">No games available.</h3>
            <li class="list-group-item center-btn">
              <%= link_to 'New Game', new_game_path, class: 'btn black-gold-btn'%>
            </li>
          </ul>
        </div>
      <% end %>

    <% else %>
      <div class="col-12 col-sm">
        <ul class="game-list-group list-group">
          <h3 class="dark-content-box-header">Ahoy matey!</h3>
          <section class="dark-content-box">
            <p>Thanks for visiting our site. <br />
                Please sign in or sign up to start a game of chess.</p>
            <%= link_to 'Sign In', new_user_session_path, class: 'btn black-gold-btn'%>&nbsp&nbsp
            <%= link_to 'Sign Up', new_user_registration_path, class: 'btn black-gold-btn'%>
          </section>
        </ul>
      </div>
    <% end %>
  </div>
</div>
